.addition__caption {
  padding: 0 @padding-site;
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: @basic-black;
}

.addition__list {
  .list-style;
}
