.additional {
  border: none;
}

.additional__legend {
  font-family: inherit;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: @basic-black;
}

.additional__list {
  .list-style;
}

.additional__label {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: @basic-black;
}
