.addition__caption {
  padding: 0 @padding-site;
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: @basic-black;
}

.addition__list {
  .list-style;
}

.addition-card {
  padding: 20px @padding-site;
  padding-bottom: 25px;
  border-top: 1px solid @special-grey-2;

  &:last-child {
    border-bottom: 1px solid @special-grey-2;
  }
}

.addition-card__link {
  text-decoration: none;
}

.addition-card__title {
  padding: 0 @padding-site;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: @special-dark-grey-2;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

}

.addition-card__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
}

.addition-card__price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
}
