.addition {
  width: @mobile-width - @mobile-padding *2;
  padding: 0 @mobile-padding;
  padding-top: 25px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: @tablet-width - @tablet-padding *2;
    padding: 0 @tablet-padding;
    padding-top: 68px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width - @desktop-padding *2;
    padding: 0 @desktop-padding;
    padding-top: 75px;
    margin-bottom: 86px;
  }
}

.addition__caption {
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: @basic-black;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding: 0 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0;
  }
}

.addition__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 895px 255px;
    column-gap: 80px;
  }
}

.addition__list {
  .list-style;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
