.card {
  padding-bottom: 25px;
  border-bottom: 1px solid @catalog-border;

  @media (min-width: @tablet-width) {
    width: 324px;
    padding: 161px 0 38px;

    &:not(:last-child) {
      background-color: @basic-grey;
    }

    &:last-child {
      border: 1px solid @catalog-border;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.card__container {
  padding: 15px 0;
  padding-top: 18px;
  padding-bottom: 13px;
  margin-bottom: 11px;
  display: grid;
  grid-template-columns: 140px 140px;
  justify-items: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0 auto;
    display: block;
  }
}

.card__image-link {
  display: block;
  margin: 0 auto;
  max-height: 100%;

  padding-bottom: 0;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.card__image {
  display: block;
  margin: 0 auto;
  margin-top: auto;

  @media (min-width: @tablet-width) {
    position: absolute;
  }
}

.card__image--small {
  @media (min-width: @tablet-width) {
    width: 164px;
    height: 174px;
    left: 82px;
    bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 160px;
    height: 172px;
    left: 43px;
    bottom: 43px;
  }
}

.card__image--big {
  @media (min-width: @tablet-width) {
    width: 168px;
    height: 206px;
    left: 78px;
    bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 172px;
    height: 198px;
    left: 39px;
    bottom: 43px;
  }
}

.card__title-link {
  text-decoration: none;
}

.card__title {
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: @special-dark-grey-2;
  width: 76px;
  margin-bottom: 15px;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 160px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 21px;
    width: 145px;
    margin-bottom: 18px;
  }
}

.card__title--dark {
  position: relative;
  color: @basic-black;
  text-align: center;
  width: auto;
  padding-top: 78px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    width: 135px;
    margin-bottom: 20px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 39px;
    left: 125px;
    width: 30px;
    height: 2px;
    background-color: @basic-button;

    @media (min-width: @tablet-width) {
      width: 60px;
      top: -80px;
      left: 40px;
    }
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }
}

.card__list {
  margin: 0 auto;
  width: 140px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 168px;
  }
}

.card__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 8px 0;
    border-bottom: 1px solid @special-grey;
    margin-bottom: 0;
  }
}

.card__parametr {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  width: 60px;
  text-align: left;
  text-transform: capitalize;


  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    width: 100px;
    text-align: left;
  }
}

.card__value {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  width: 75px;
  text-align: right;


  @media (min-width: @tablet-width) {
    font-size: 16px;
    width: 100px;
  }
}

.card__button {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  width: 280px;

  @media (min-width: @tablet-width) {

    margin: 0 38px;
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.card__button--light {
  background-color: @basic-grey;
  display: block;
  box-sizing: border-box;
  padding: 8px 0;
  width: 280px;
  color: @special-dark-grey;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: @special-grey-2;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0 38px;
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.card__description {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 168px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  }
}
