.cat-identity {
  border: none;
  margin-bottom: 24px;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: 80px;
    padding-left: 0;
    padding-right: 5px;
  }
}
