.comment {
  border: none;
  margin: 0;
  padding: 0;
}

.comment__title {
  font-family: inherit;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  color: @basic-black;
  margin-bottom: 37px;
  padding-left: @mobile-padding;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
    padding-left: 69px;
  }

  @media (min-width: @desktop-width) {
    padding-left: @desktop-padding;
  }
}

.comment__group {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: @special-dark-grey;
  padding: 0 @mobile-padding;

  @media (min-width: @tablet-width) {
    padding-left: 41px + @tablet-padding;
    padding-right: 37px + @tablet-padding;
  }
}


.comment__field {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: @special-dark-grey;
  height: 150px;
  width: 280px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    width: 631px;
  }

  @media (min-width: @desktop-width) {
    height: 174px;
    width: 1220px;
  }
}
