.contacts__wrapper {
  padding: 0 @padding-site;
}

.contacts__promo {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: @special-dark-grey;
}
