.contacts {
  background-color: @basic-white;

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.contacts--dark {
  background-color: @basic-grey;

  @media (min-width: @desktop-width) {
    position: relative;
    background-color: @basic-white;
  }
}

.contacts__contain {
  background-color: @basic-grey;
}

.contacts__map {
  border: none;
  display: block;
  height: 362px;
  max-width: 100vw;
  padding: 0;

  @media (min-width: @tablet-width) {
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
  }
}


.contacts__map--nojs {
  background-color: @basic-grey;
  background-image: url("../img/location.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/location@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/location-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/location-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-desktop@2x.jpg");
    }
  }
}


.contacts__wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 180px;
    top: 90px;
    width: 405px;
    padding: 56px 80px;
    background-color: @basic-white;
    z-index: 10;
  }
}

.contacts__promo {
  margin: 0;
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: left;
    width: 210px;
    font-size: 20px;
    line-height: 26px;
    padding-left: 38px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
    padding-left: 0;
    margin-right: 100px;
  }
}

.contacts-address {
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-right: 40px;
  }
}

.contacts__street,
.contacts__city {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: @special-dark-grey;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: right;
    width: 160px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 165px;
    text-align: left;
  }
}

.contacts__city {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
