.copyright {
  margin: 0;
  padding: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: @special-dark-grey;
  vertical-align: middle;

  &:hover {
    fill: @basic-green;
  }

  &:hover path {
    fill: @basic-green;
  }

  &:active {
    opacity: 30%;
  }

  &:active path {
    fill: @basic-green;
  }

  @media (min-width: @tablet-width) {
    width: 163px;
  }
}
