.example {
  background-color: @backgound-slider;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(to bottom, @basic-white 70%, @basic-grey 70%);
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to bottom, @basic-white 30%, @basic-grey 30%);
  }
}

.example__wrapper {
  padding-bottom: 40px;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding-bottom: 43px;
    padding-top: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
  }
}

.example__content {
  @media (min-width: @desktop-width) {
    width: 546px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: inherit;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}


.example__site {

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    width: 366px;
  }
}

.example__item {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  border: 1px solid @special-grey;
  border-radius: 3px;
  width: 124px;
  padding-top: 14px;
  padding-bottom: 18px;

  &:not(:last-child) {
    margin-right: 32px;
  }

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.example__number {
  display: block;
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.example__description {
  margin: 0;
  position: absolute;
  top: 45px;
  left: 15px;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  width: 87px;

  background-color: #eaeaea;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 142px;
    left: 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    width: 142px;
    left: 10px;
    background-color: @basic-grey;
  }
}

.example__label {
  padding: 0 46px;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 174px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__charge {
  @media (min-width: @desktop-width) {
    width: 162px;
    text-align: left;
  }
}

.example__price {
  @media (min-width: @desktop-width) {
    width: 162px;
    text-align: center;
  }
}

.example__slider {
  margin-left: auto;
}
