.lead-footer {
  margin: 0 auto;
}

.lead-footer__contacts {
  background-color: @basic-white;
  color: @basic-black;
  margin: 0;
  padding: 0;
  width: @mobile-width;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.lead-footer__contacts--dark {
  background-color: @basic-grey;
}
