.links {
  background-color: @basic-grey;
}

.links__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.links__logo {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
}

.links__social-list {
  .list-style;
  width: @mobile-width - (@mobile-padding * 2);
  padding: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid @light-border;
  border-bottom: 1px solid @light-border;

  @media (min-width: @tablet-width) {
    width: 132px;
    border-top: none;
    border-bottom: none;
  }
}
