.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: @mobile-padding;

  @media (min-width: @tablet-width) {
    width: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
  }
}
