.products {
  background-color: @basic-white;
  color: @special-dark-grey;
}

.products__caption {
  padding: 0 @padding-site;
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: @basic-black;
}

.products-list {
  .list-style;
}
