.site-form {
  padding: 0 @padding-site;
  background-color: @basic-white;
  color: @basic-black;
}

.site-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;

}

.site-form__description {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;

}

.site-form__button {
  display: block;
  box-sizing: border-box;
  padding: 7px 0;
  width: 280px;

  font-size: 16px;
  line-height: 20px;

}

.site-form__legend {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-black;
  text-align: left;
}
