@basic-green: #68b738;
@basic-green-2: #5eaa2f;
@basic-grey: #f2f2f2;
@special-grey: #cdcdcd;
@special-grey-2: #666666;
@special-dark-grey: #444444;
@special-dark-grey-2: #222222;
@basic-white: #ffffff;
@basic-black: #000000;
@basic-border: #e7e7e7;
@addition-border: #e6e6e6;
@light-border: #d9d9d9;
@catalog-border: #ebebeb;
@basic-button: #d3d3d3;
@status-error: #ff8282;
@input-border: #bababa;
@backgound-slider: #eaeaea;

@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;
@width-site: @mobile-width;

@media (min-width: @tablet-width) {
  @width-site: @tablet-width;
}

@media (min-width: @desktop-width) {
  @width-site: @desktop-width;
}

@mobile-padding: 20px;
@tablet-padding: 30px;
@desktop-padding: 110px;
@padding-site: @mobile-padding;

@desktop-grid: (@desktop-width - (@desktop-padding * 2)) / 4;

.list-style() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
