.wrapper {
  margin: 0 auto;
  padding: 0 @mobile-padding;
  width: @mobile-width - (@mobile-padding * 2);

  @media (min-width: @tablet-width) {
    padding: 0 @tablet-padding;
    width: @tablet-width - (@tablet-padding * 2);
  }

  @media (min-width: @desktop-width) {
    padding: 0 @desktop-padding;
    width: @desktop-width - (@desktop-padding * 2);
  }

  overflow: hidden;
}
