.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 30px;
    max-width: 708px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    padding: 0 110px;
    max-width: 1220px;
  }
}
@media (min-width: 768px) {
  .wrapper--form {
    padding-left: 70px;
  }
}
@media (min-width: 1440px) {
  .wrapper--form {
    padding-left: 110px;
  }
}
@font-face {
  font-family: "Oswald";
  font-style: regular;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
  background-color: #ffffff;
}
.page__body {
  margin: 0;
  min-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .page__body {
    position: relative;
  }
}
.main-container {
  margin: 0;
  padding: 0;
}
.lead-header {
  margin: 0 auto;
  width: 320px;
  padding: 0 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .lead-header {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .lead-header {
    padding: 0 110px;
    width: 1220px;
    position: relative;
    top: 0;
  }
}
.lead-header__logo {
  margin: 0;
}
.lead-header__logo:hover {
  opacity: 80%;
}
.lead-header__logo:active {
  opacity: 60%;
}
@media (min-width: 1440px) {
  .lead-header--index {
    z-index: 10;
  }
}
.lead-navigation {
  position: relative;
}
@media (min-width: 768px) {
  .lead-navigation {
    padding: 42px 0;
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .lead-navigation {
    padding: 69px 0;
    margin-left: auto;
  }
}
.lead-navigation__toggle {
  position: absolute;
  top: -66px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 70px;
  height: 66px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.lead-navigation__toggle:hover {
  opacity: 60%;
}
.lead-navigation__toggle:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .lead-navigation__toggle {
    display: none;
  }
}
@media (min-width: 1440px) {
  .lead-navigation__toggle {
    display: none;
  }
}
.lead-navigation--closed .lead-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.lead-navigation--opened .lead-navigation__toggle {
  background-color: #ffffff;
}
.lead-navigation--opened .lead-navigation__toggle::before,
.lead-navigation--opened .lead-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.lead-navigation--opened .lead-navigation__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.lead-navigation--opened .lead-navigation__toggle::after {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .lead-navigation--closed .site-list__item {
    display: none;
  }
  .lead-navigation--opened .lead-navigation__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: #ffffff;
  }
  .lead-navigation--nojs .lead-navigation__toggle {
    display: none;
  }
  .lead-navigation--nojs .lead-navigation__wrapper {
    position: static;
  }
}
.button {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  border: 0;
  outline-offset: 0;
  cursor: pointer;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.solutions__header {
  background-color: #68b738;
  background-image: url("../img/can-phone.png"), linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 60%, #ffffff 60%), url("../img/cat-background-phone.jpg");
  background-size: auto, 100%, 320px 302px;
  background-position: center 75%, center top, center top;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .solutions__header {
    background-image: url("../img/can-phone@2x.png"), linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 60%, #ffffff 60%), url("../img/cat-background-phone@2x.jpg");
    background-size: 280px 270px, 100%, 320px 302px;
  }
}
@media (min-width: 768px) {
  .solutions__header {
    background-color: #ffffff;
    background-image: url("../img/can-tablet.png");
    background-size: auto;
    background-position: center 90%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .solutions__header {
    background-image: url("../img/can-tablet@2x.jpg");
    background-size: 709px 609px;
  }
}
@media (min-width: 1440px) {
  .solutions__header {
    background-color: #ffffff;
    background-image: url("../img/can-desktop.png"), linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/cat-background-desktop.jpg");
    background-size: auto, 100%, 50%;
    background-position: 60% 75%, center top, right top;
    position: relative;
    top: -185px;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .solutions__header {
    background-image: url("../img/can-desktop@2x.png"), linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/cat-background-desktop@2x.jpg");
    background-size: 552px 499px, 100%, 50%;
  }
}
.solution__container {
  padding-top: 27px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .solution__container {
    padding-top: 15px;
    padding-bottom: 450px;
  }
}
@media (min-width: 1440px) {
  .solution__container {
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 82px;
  }
}
.solutions__title {
  margin: 0;
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .solutions__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    width: 414px;
    margin-bottom: 40px;
    padding-left: 120px;
  }
}
@media (min-width: 1440px) {
  .solutions__title {
    padding-top: 223px;
    padding-left: 190px;
    width: 414px;
  }
}
.solutions__motto {
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 302px;
}
@media (min-width: 768px) {
  .solutions__motto {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 120px;
    margin-bottom: 49px;
  }
}
@media (min-width: 1440px) {
  .solutions__motto {
    padding-left: 190px;
    margin-bottom: 52px;
  }
}
.solutions__button {
  display: block;
  box-sizing: border-box;
  padding: 8px 0;
  width: 280px;
}
@media (min-width: 768px) {
  .solutions__button {
    padding: 14px 0;
    width: 244px;
    margin: 0 120px;
  }
}
@media (min-width: 1440px) {
  .solutions__button {
    margin: 0 190px;
    margin-bottom: 185px;
  }
}
@media (min-width: 1440px) {
  .solutions__wrapper {
    margin-top: -185px;
  }
}
.solutions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .solutions__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.solutions__item {
  width: 280px;
  position: relative;
  display: block;
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 30px 20px 18px;
}
.solutions__item:last-child {
  margin-bottom: 0;
}
.solutions__item::after {
  position: absolute;
  display: block;
}
@media (min-width: 768px) {
  .solutions__item {
    width: 708px;
    padding: 77px 52px 57px;
    margin-bottom: 30px;
  }
  .solutions__item::after {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .solutions__item {
    margin: 0;
    padding: 77px 0 59px 52px;
    width: 570px;
  }
  .solutions__item:not(:nth-child(2n)) {
    margin-right: 80px;
  }
  .solutions__item::after {
    width: 100px;
    height: 100px;
  }
}
.solutions__item--less::after {
  content: url("../img/cat-slim-phone.svg");
  top: 21px;
  left: 22px;
}
@media (min-width: 768px) {
  .solutions__item--less::after {
    content: url("../img/cat-slim-tablet.svg");
    top: 81px;
    left: 446px;
  }
}
@media (min-width: 1440px) {
  .solutions__item--less::after {
    content: url("../img/cat-slim-desktop.svg");
    top: 47px;
    left: 52px;
  }
}
.solutions__item--more::after {
  content: url("../img/cat-pro-phone.svg");
  top: 24px;
  left: 13px;
}
@media (min-width: 768px) {
  .solutions__item--more::after {
    content: url("../img/cat-pro-tablet.svg");
    top: 91px;
    left: 412px;
  }
}
@media (min-width: 1440px) {
  .solutions__item--more::after {
    content: url("../img/cat-pro-desktop.svg");
    top: 47px;
    left: 52px;
  }
}
.solutions__subject {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-left: 91px;
  font-family: inherit;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .solutions__subject {
    margin-bottom: 24px;
    padding-left: 53px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}
@media (min-width: 1440px) {
  .solutions__subject {
    margin-bottom: 73px;
    padding-left: 162px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}
.solutions__description {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  width: 227px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-align: left;
}
@media (min-width: 768px) {
  .solutions__description {
    margin-bottom: 42px;
    width: 340px;
  }
}
@media (min-width: 1440px) {
  .solutions__description {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
    width: 467px;
  }
}
.solutions__link {
  position: relative;
  padding: 4px 49px 4px 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.solutions__link:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .solutions__link {
    padding: 4px 60px 4px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}
.solutions__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 10px;
  background-image: url("../img/icon_arrow.svg");
  background-position: right;
  top: 15px;
  left: 130px;
}
.solutions__link:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 10px;
  top: 15px;
  left: 130px;
}
.features {
  background-color: #ffffff;
  color: #000000;
}
.features__title {
  margin: 0;
  margin-bottom: 42px;
  font-family: inherit;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}
.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
  counter-reset: program;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: 247px 324px;
    column-gap: 137px;
    row-gap: 37px;
    margin-bottom: 47px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    grid-template-columns: 230px 246px 248px 248px;
    column-gap: 82px;
    margin-bottom: 0;
  }
}
.features__item {
  margin: 0;
  position: relative;
  padding: 6px 0 4px 80px;
  margin-bottom: 20px;
  width: 200px;
  counter-increment: program;
  z-index: 10;
}
@media (min-width: 768px) {
  .features__item {
    margin: 0;
    padding: 151px 0 57px 0;
  }
  .features__item::before {
    content: counter(program);
    font-family: inherit;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    color: #f2f2f2;
    z-index: -1;
    width: 120px;
    top: 15px;
    right: -8px;
  }
}
@media (min-width: 1440px) {
  .features__item::before {
    content: counter(program);
    font-family: inherit;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    color: #f2f2f2;
    z-index: -1;
    width: 120px;
    top: 0;
    right: -8px;
  }
}
.features__item::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
@media (min-width: 768px) {
  .features__item::after {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.features__item--use::after {
  background-image: url("../img/icon_leaf.svg");
}
@media (min-width: 768px) {
  .features__item--use {
    width: 230px;
  }
}
.features__item--recipe::after {
  background-image: url("../img/icon_tub.svg");
}
@media (min-width: 768px) {
  .features__item--recipe {
    width: 246px;
  }
}
.features__item--meal::after {
  background-image: url("../img/icon_eat.svg");
}
@media (min-width: 768px) {
  .features__item--meal {
    width: 248px;
  }
}
.features__item--result::after {
  background-image: url("../img/icon_alarm.svg");
}
@media (min-width: 768px) {
  .features__item--result {
    width: 248px;
  }
}
.features__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #444444;
}
@media (min-width: 768px) {
  .features__description {
    font-size: 16px;
    line-height: 24px;
  }
}
.example {
  background-color: #eaeaea;
  color: #000000;
}
@media (min-width: 768px) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff 70%, #f2f2f2 70%);
  }
}
@media (min-width: 1440px) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff 30%, #f2f2f2 30%);
  }
}
.example__wrapper {
  padding-bottom: 40px;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .example__wrapper {
    padding-bottom: 43px;
    padding-top: 23px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .example__content {
    width: 546px;
  }
}
.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: inherit;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.example__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #444444;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.example__site {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .example__site {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example__site {
    display: flex;
    flex-direction: column;
  }
}
.example__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .example__list {
    width: 366px;
  }
}
.example__item {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  padding-top: 14px;
  padding-bottom: 18px;
}
.example__item:not(:last-child) {
  margin-right: 32px;
}
@media (min-width: 768px) {
  .example__item {
    width: 162px;
  }
}
.example__number {
  display: block;
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.example__description {
  margin: 0;
  position: absolute;
  top: 45px;
  left: 15px;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  width: 87px;
  background-color: #eaeaea;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .example__description {
    padding: 0;
    width: 142px;
    left: 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example__description {
    width: 142px;
    left: 10px;
    background-color: #f2f2f2;
  }
}
.example__label {
  padding: 0 46px;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__label {
    width: 174px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .example__label {
    width: 366px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example__charge {
    width: 162px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .example__price {
    width: 162px;
    text-align: center;
  }
}
.example__slider {
  margin-left: auto;
}
.lead-footer {
  color: #000000;
  overflow-x: hidden;
}
.lead-footer__contacts {
  margin: 0;
  padding: 0;
}
.products {
  background-color: #ffffff;
  color: #444444;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .products {
    margin-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .products {
    margin-bottom: 75px;
  }
}
.products__caption {
  margin: 0;
  display: block;
  box-sizing: border-box;
  padding: 27px 0 41px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ebebeb;
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .products__caption {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    border: none;
    margin-bottom: 165px;
  }
}
@media (min-width: 1440px) {
  .products__caption {
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}
.products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .products-list {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 141px;
  }
}
@media (min-width: 1440px) {
  .products-list {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 143px;
  }
}
.addition {
  position: relative;
  background-color: #ffffff;
  z-index: 0;
}
.addition::before {
  content: "";
  position: absolute;
  top: 35px;
  width: 100%;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}
@media (min-width: 768px) {
  .addition::before {
    top: 55px;
  }
}
.addition__wrapper {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .addition__wrapper {
    margin-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .addition__wrapper {
    margin-bottom: 86px;
  }
}
.addition__caption {
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #000000;
  margin-bottom: 36px;
  padding: 0 30px;
  margin-left: -30px;
  display: inline-block;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .addition__caption {
    font-size: 36px;
    line-height: 36px;
    margin-left: -40px;
    margin-bottom: 80px;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .addition__caption {
    padding: 0 40px;
    margin-left: -40px;
  }
}
@media (min-width: 1440px) {
  .addition__contain {
    display: grid;
    grid-template-columns: 895px 255px;
    column-gap: 80px;
  }
}
.addition__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .addition__list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .addition__list {
    margin-bottom: 0;
  }
}
.promo {
  display: block;
  box-sizing: border-box;
  padding: 43px 60px;
  padding-top: 187px;
  background-color: #68b738;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-phone2.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-phone2@2x.jpg");
    background-size: 100%;
  }
}
@media (min-width: 768px) {
  .promo {
    padding: 70px 0;
    padding-left: 422px;
    padding-right: 124px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-tablet2.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .promo {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-tablet2@2x.jpg");
  }
}
@media (min-width: 1440px) {
  .promo {
    width: auto;
    padding: 0 42px;
    padding-top: 184px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-desktop2.jpg");
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-desktop2@2x.jpg");
  }
}
.promo__title {
  margin: 0;
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.promo__title::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  background-image: url("../img/icon_gift.svg");
  top: -108px;
  left: 40px;
}
@media (min-width: 768px) {
  .promo__title::before {
    top: 0;
    left: -300px;
  }
}
@media (min-width: 1440px) {
  .promo__title::before {
    top: -108px;
    left: 40px;
  }
}
.site-form {
  background-color: #ffffff;
  color: #000000;
}
.site-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .site-form__title {
    margin-bottom: 56px;
  }
}
.site-form__description {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 226px;
}
@media (min-width: 768px) {
  .site-form__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    width: 323px;
  }
}
.site-form__contain {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .site-form__contain {
    margin-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .site-form__contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 69px;
    max-width: 1220px;
  }
}
.site-form__button {
  display: block;
  box-sizing: border-box;
  padding: 7px 0;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .site-form__button {
    font-size: 20px;
    line-height: 20px;
    padding: 13px 0;
    width: 282px;
    margin-right: 61px;
  }
}
@media (min-width: 1440px) {
  .site-form__button {
    width: 568px;
    margin-right: 81px;
  }
}
.site-form__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}
@media (min-width: 768px) {
  .site-form__legend {
    font-size: 16px;
    line-height: 16px;
  }
}
.site-form__detail {
  padding-left: 20px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .site-form__detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 69px;
  }
}
@media (min-width: 1440px) {
  .site-form__detail {
    padding-left: 110px;
  }
}
.cat-identity {
  border: none;
  margin-bottom: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 1440px) {
  .cat-identity {
    margin: 0;
    margin-right: 80px;
    padding-left: 0;
    padding-right: 5px;
  }
}
.decision {
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
}
@media (min-width: 768px) {
  .decision {
    border: none;
  }
}
.decision__list {
  margin: 0 auto;
  list-style-type: none;
  padding-left: 15px;
  max-width: 280px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .decision__list {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 30px;
    border: 1px solid #d9d9d9;
    max-width: 708px;
  }
}
.decision__item:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .decision__item {
    margin: 0;
  }
  .decision__item:not(:last-child) {
    margin-bottom: 23px;
  }
}
.decision__label {
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  padding-left: 45px;
}
@media (min-width: 768px) {
  .decision__label {
    font-size: 20px;
    line-height: 29px;
    padding-left: 88px;
  }
}
.decision__input {
  position: absolute;
  -webkit-appearance: none;
          appearance: none;
  top: -7px;
  left: -15px;
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 7px solid #ffffff;
  outline: 1px solid #cdcdcd;
  background: #ffffff;
  border-radius: 50%;
  outline-offset: 0;
}
@media (min-width: 768px) {
  .decision__input {
    width: 40px;
    height: 40px;
    border: 11px solid #ffffff;
    left: 15px;
  }
}
.decision__input:focus {
  outline: 2px solid #bababa;
}
.decision__input:hover {
  outline: 1px solid #bababa;
}
.decision__input:active {
  opacity: 60%;
}
.decision__input:disabled {
  opacity: 30%;
}
.decision__input:checked {
  background-color: #68b738;
}
.cat-contacts {
  margin: 0;
  position: relative;
  z-index: 0;
}
.cat-contacts::before {
  content: "";
  position: absolute;
  top: 55px;
  width: 100%;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}
.cat-contacts__wrapper {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .cat-contacts__wrapper {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .cat-contacts__wrapper {
    margin-bottom: 67px;
  }
}
.cat-contacts__title {
  font-family: inherit;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  width: 188px;
  margin-bottom: 36px;
  padding: 0 20px;
  margin-left: -20px;
  display: inline-block;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .cat-contacts__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    width: 515px;
    padding: 0 40px;
    margin-left: -40px;
  }
}
@media (min-width: 1440px) {
  .cat-contacts__title {
    margin-bottom: 67px;
  }
}
@media (min-width: 1440px) {
  .cat-contacts__contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
  }
}
.cat-contacts__group {
  position: relative;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
}
.cat-contacts__field {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}
.cat-contacts__field:focus + .cat-contacts_icon {
  stroke: #68b738;
}
.cat-contacts__field:invalid + .cat-contacts_icon {
  stroke: #ff8282;
}
.cat-contacts_icon {
  stroke: #666666;
  position: absolute;
  top: 16px;
  right: 16px;
}
.comment {
  margin: 0;
  position: relative;
  z-index: 0;
}
.comment::before {
  content: "";
  position: absolute;
  top: 35px;
  width: 100%;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}
.comment__wrapper {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .comment__wrapper {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .comment__wrapper {
    margin-bottom: 67px;
  }
}
.comment__title {
  font-family: inherit;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  margin-bottom: 37px;
  padding: 0 20px;
  margin-left: -20px;
  display: inline-block;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .comment__title {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-left: -40px;
  }
}
.comment__group {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
}
.comment__field {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  height: 150px;
  width: 275px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .comment__field {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    width: 631px;
  }
}
@media (min-width: 1440px) {
  .comment__field {
    height: 174px;
    width: 1220px;
  }
}
.additional {
  margin: 0;
  position: relative;
  z-index: 0;
}
.additional::before {
  content: "";
  position: absolute;
  top: 35px;
  width: 100%;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}
.additional__wrapper {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .additional__wrapper {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .additional__wrapper {
    margin-bottom: 67px;
  }
}
.additional__title {
  font-family: inherit;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  margin-bottom: 39px;
  padding: 0 20px;
  margin-left: -20px;
  display: inline-block;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .additional__title {
    margin-bottom: 62px;
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-left: -40px;
  }
}
.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .additional__list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .additional__item {
    width: 310px;
  }
  .additional__item:nth-child(1n) {
    margin-right: 35px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1440px) {
  .additional__item {
    width: 270px;
    margin-right: 35px;
  }
}
.additional__label {
  position: relative;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  padding-left: 45px;
}
@media (min-width: 768px) {
  .additional__label {
    font-size: 20px;
    line-height: 29px;
    padding-left: 88px;
  }
}
@media (min-width: 1440px) {
  .additional__label {
    font-size: 20px;
    line-height: 29px;
    padding-left: 88px;
    width: 250px;
  }
}
.additional__input {
  position: absolute;
  top: -7px;
  left: -15px;
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional__input {
    width: 40px;
    height: 40px;
    left: 15px;
  }
}
.additional__input:focus {
  outline: 2px solid #bababa;
}
.additional__input:hover {
  outline: 1px solid #bababa;
}
.additional__input:active {
  opacity: 60%;
}
.additional__input:disabled {
  opacity: 30%;
}
.additional__input:checked,
.additional__input:checked:hover,
.additional__input:checked:focus,
.additional__input:checked:active,
.additional__input:checked:disabled {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.site-field {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
}
@media (min-width: 768px) {
  .site-field {
    width: 630px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .site-field {
    width: 570px;
  }
}
@media (min-width: 1440px) {
  .site-field--picture:not(:last-child) {
    margin-right: 80px;
  }
}
.site-field label {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
}
.site-field label:not(:last-child) {
  margin-right: 12px;
}
@media (min-width: 768px) {
  .site-field label {
    font-size: 20px;
    line-height: 29px;
  }
}
.site-field input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  padding: 13px 0;
  padding-left: 15px;
  border: none;
  outline: 1px solid #e7e7e7;
  width: 100%;
}
.site-field input:hover {
  outline: 1px solid #cdcdcd;
}
.site-field input:focus {
  outline: 2px solid #444444;
}
.site-field input:invalid {
  outline: 2px solid #ff8282;
}
@media (min-width: 768px) {
  .site-field input {
    font-size: 20px;
    line-height: 29px;
    padding: 11px 0;
    padding-left: 15px;
  }
}
.addition-card {
  padding-bottom: 19px;
  padding-top: 13px;
  border-top: 1px solid #666666;
}
.addition-card:last-child {
  border-bottom: 1px solid #666666;
}
@media (min-width: 768px) {
  .addition-card {
    padding: 27px 38px;
  }
}
@media (min-width: 1440px) {
  .addition-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
}
.addition-card__link {
  text-decoration: none;
}
.addition-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
}
.addition-card__title:hover {
  opacity: 80%;
}
.addition-card__title:active {
  opacity: 60%;
}
@media (min-width: 1440px) {
  .addition-card__title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .addition-card__title {
    width: 324px;
  }
}
@media (min-width: 768px) {
  .addition-card__stuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .addition-card__stuff {
    margin-bottom: 0;
  }
}
.addition-card__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .addition-card__detail {
    width: 288px;
    justify-content: start;
  }
}
.addition-card__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
}
@media (min-width: 768px) {
  .addition-card__description {
    font-size: 16px;
    line-height: 20px;
    width: 188px;
    text-align: right;
    margin-right: 25px;
  }
}
@media (min-width: 1440px) {
  .addition-card__description {
    width: 188px;
    text-align: left;
  }
}
.addition-card__price {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: right;
}
@media (min-width: 768px) {
  .addition-card__price {
    font-size: 16px;
    line-height: 20px;
    width: 100px;
  }
}
.addition-card__button {
  display: block;
  box-sizing: border-box;
  padding: 8px 0;
  width: 280px;
}
@media (min-width: 768px) {
  .addition-card__button {
    font-size: 16px;
    line-height: 20px;
    width: 632px;
  }
}
@media (min-width: 1440px) {
  .addition-card__button {
    width: 244px;
  }
}
@media (min-width: 1440px) {
  .cat-slider {
    display: block;
    width: 592px;
    text-align: center;
  }
}
.cat-slider__picture {
  position: relative;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .cat-slider__picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.cat-slider__fat {
  max-width: 100%;
  object-fit: contain;
  display: block;
  overflow: hidden;
}
@media (min-width: 768px) {
  .cat-slider__fat {
    width: 296px;
    height: 511px;
    object-fit: none;
    object-position: top left;
  }
}
.cat-slider__skinny {
  max-width: 100%;
  object-fit: contain;
  display: none;
  overflow: hidden;
}
@media (min-width: 768px) {
  .cat-slider__skinny {
    display: block;
    width: 296px;
    height: 511px;
    object-fit: none;
    object-position: top right;
  }
}
.cat-slider__range {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  width: 210px;
}
@media (min-width: 768px) {
  .cat-slider__range {
    width: 572px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .cat-slider__range {
    padding: 0;
  }
}
.cat-slider__bar {
  position: relative;
  width: 86px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .cat-slider__bar {
    width: 426px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 6px;
  }
}
.cat-slider__part {
  position: absolute;
  background: #68b738;
  border-radius: 6px;
  width: 36px;
  height: 6px;
  left: 6px;
  top: 4px;
}
@media (min-width: 768px) {
  .cat-slider__part {
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
    border: 13px solid #ffffff;
    outline: 1px solid #cdcdcd;
    left: 197px;
    top: -12px;
  }
  .cat-slider__part:active {
    outline: 1px solid #68b738;
  }
}
.cat-slider__after,
.cat-slider__before {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #eaeaea;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .cat-slider__after,
  .cat-slider__before {
    background-color: #f2f2f2;
    border-bottom: 1px dotted #000000;
  }
  .cat-slider__after:hover,
  .cat-slider__before:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .cat-slider__after:active,
  .cat-slider__before:active {
    border: none;
  }
}
.contacts {
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .contacts {
    position: relative;
  }
}
.contacts--dark {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .contacts--dark {
    position: relative;
    background-color: #ffffff;
  }
}
.contacts__contain {
  background-color: #f2f2f2;
}
.contacts__map {
  border: none;
  display: block;
  min-height: 362px;
  max-width: 100vw;
  padding: 0;
}
@media (min-width: 768px) {
  .contacts__map {
    min-height: 400px;
  }
}
@media (min-width: 1440px) {
  .contacts__map {
    min-height: 400px;
  }
}
.contacts__wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    position: absolute;
    left: 110px;
    top: 95px;
    width: 405px;
    padding: 56px 80px;
    background-color: #ffffff;
    z-index: 10;
  }
}
.contacts__promo {
  margin: 0;
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__promo {
    text-align: left;
    width: 172px;
  }
}
@media (min-width: 1440px) {
  .contacts__promo {
    width: 163px;
  }
}
.contacts-address {
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.contacts__street,
.contacts__city {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #444444;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contacts__street,
  .contacts__city {
    font-size: 16px;
    text-align: right;
    width: 160px;
  }
}
@media (min-width: 1440px) {
  .contacts__street,
  .contacts__city {
    width: 165px;
  }
}
@media (min-width: 768px) {
  .contacts__city {
    margin-bottom: 0;
  }
}
.links {
  background-color: #f2f2f2;
}
.links__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .links__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.links__logo {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
}
.links__logo:hover {
  opacity: 80%;
}
.links__logo:active {
  opacity: 60%;
}
.links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  padding: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .links__list {
    width: 132px;
    border-top: none;
    border-bottom: none;
  }
}
.links__link {
  fill: #666666;
}
.links__link:hover {
  fill: #68b738;
}
.links__link:active {
  opacity: 30%;
}
.links__copyright {
  margin: 0;
  padding: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #444444;
  vertical-align: middle;
  fill: #666666;
  width: 280px;
}
.links__copyright:hover {
  fill: #68b738;
}
.links__copyright:active {
  fill: #68b738;
  opacity: 30%;
}
@media (min-width: 768px) {
  .links__copyright {
    width: 163px;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .logo {
    width: 174px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .logo {
    width: 202px;
  }
}
@media (min-width: 768px) {
  .logo__img {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .logo__img {
    width: 202px;
    height: 59px;
  }
}
@media (min-width: 768px) {
  .logo__label {
    display: none;
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 320px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .site-list {
    position: relative;
    width: 440px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .site-list {
    width: 483px;
  }
}
.site-list__item {
  text-align: center;
  display: block;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
}
.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item {
    border: none;
  }
  .site-list__item:last-child {
    border-bottom: none;
  }
}
.site-list__link {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  color: #000000;
  padding: 23px 0;
  background-color: #ffffff;
}
.site-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    padding: 8px 0;
    align-items: center;
  }
  .site-list__link:not(:last-child) {
    margin-right: 33px;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    text-align: left;
    padding: 8px 0;
    align-items: center;
    color: #ffffff;
    background-color: transparent;
  }
  .site-list__link:not(:last-child) {
    margin-right: 33px;
  }
  .site-list__link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .site-list__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .site-list__item--active {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .site-list__item--active {
    border-bottom: 2px solid #ffffff;
  }
}
@media (min-width: 768px) {
  .site-list__item--dark {
    border-bottom: 2px solid #68b738;
  }
  .site-list__item--dark:last-child {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .site-list__item--dark {
    border-bottom: 2px solid #68b738;
  }
}
.site-list__link--dark {
  color: #000000;
}
.site-list__link--dark:hover {
  color: rgba(0, 0, 0, 0.6);
}
.site-list__link--dark:active {
  color: rgba(0, 0, 0, 0.3);
}
.card {
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .card {
    width: 324px;
    padding: 161px 0 38px;
  }
  .card:not(:last-child) {
    background-color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .card {
    width: 245px;
  }
}
.card__container {
  padding: 12px 0;
  display: grid;
  grid-template-columns: 140px 140px;
  justify-items: center;
  align-items: center;
}
@media (min-width: 768px) {
  .card__container {
    padding: 0;
    margin: 0 auto;
    display: block;
  }
}
.card__image-link {
  display: block;
}
.card__image-link:hover {
  opacity: 80%;
}
.card__image-link:active {
  opacity: 60%;
}
@media (min-width: 768px) {
  .card__image-link {
    position: relative;
  }
}
.card__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .card__image {
    position: absolute;
  }
}
@media (min-width: 768px) {
  .card__image--small {
    width: 164px;
    height: 174px;
    left: 82px;
    bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .card__image--small {
    width: 160px;
    height: 172px;
    left: 43px;
    bottom: 25px;
  }
}
@media (min-width: 768px) {
  .card__image--big {
    width: 168px;
    height: 206px;
    left: 78px;
    bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .card__image--big {
    width: 172px;
    height: 198px;
    left: 39px;
    bottom: 25px;
  }
}
.card__title-link {
  text-decoration: none;
}
.card__title {
  margin: 0 auto;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  width: 76px;
  margin-bottom: 18px;
}
.card__title:hover {
  opacity: 80%;
}
.card__title:active {
  opacity: 60%;
}
@media (min-width: 768px) {
  .card__title {
    font-size: 20px;
    line-height: 24px;
    width: 160px;
    margin-bottom: 21px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .card__title {
    font-size: 20px;
    line-height: 21px;
    width: 145px;
  }
}
.card__title--dark {
  position: relative;
  color: #000000;
  text-align: center;
  width: auto;
  padding-top: 78px;
}
.card__title--dark::before,
.card__title--dark::after {
  content: "";
  position: absolute;
  top: 39px;
  right: 50%;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
@media (min-width: 768px) {
  .card__title--dark::before,
  .card__title--dark::after {
    width: 60px;
  }
}
.card__title--dark::before {
  transform: rotate(90deg);
  box-shadow: none;
}
.card__list {
  margin: 0 auto;
  width: 140px;
}
@media (min-width: 768px) {
  .card__list {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .card__list {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 168px;
  }
}
.card__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .card__item {
    padding: 8px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}
.card__parametr {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  width: 60px;
  text-align: left;
}
@media (min-width: 768px) {
  .card__parametr {
    width: 100px;
    text-align: left;
  }
}
.card__value {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  width: 75px;
  text-align: right;
}
@media (min-width: 768px) {
  .card__value {
    width: 100px;
  }
}
.card__button {
  display: block;
  box-sizing: border-box;
  padding: 8px 0;
  width: 280px;
}
@media (min-width: 768px) {
  .card__button {
    font-size: 16px;
    line-height: 20px;
    margin: 0 38px;
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .card__button {
    width: 168px;
  }
}
.card__button--light {
  background-color: #f2f2f2;
  display: block;
  box-sizing: border-box;
  padding: 8px 0;
  width: 280px;
  color: #444444;
}
.card__button--light:hover {
  background-color: #ebebeb;
}
.card__button--light:active {
  background-color: #ebebeb;
  color: #666666;
}
@media (min-width: 768px) {
  .card__button--light {
    font-size: 16px;
    line-height: 20px;
    margin: 0 38px;
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .card__button--light {
    width: 168px;
  }
}
.card__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .card__description {
    font-size: 16px;
    line-height: 18px;
  }
}
/*# sourceMappingURL=style.css.map */
